.CFUserTextEncoding
.DS_Store
.RoadRunnerTemp
.Trash
.Xauthority
.ackrc
.addressbook
.advLdap
.anyconnect
.aspell.en.prepl
.aspell.en.pws
.bash
.bash_history
.bash_profile
.bash_profile.macports-saved_2013-05-02_at_13:10:29
.bashrc
.bower
.bundler
.cache
.cask
.coffee_history
.config
.cordova
.cups
.dotfiles
.dropbox
.elinks
.emacs.d
.erlang.cookie
.exercism
.fctsslvpnhistory
.fontconfig
.gem
.gemrc
.git
.gitconfig
.gmail
.gnupg
.guard_history
.gvimrc.old
.heroku
.hgignore_global
.ido.last
.iex
.irb-history
.irb_history
.ivy2
.lein
.lesshst
.local
.m2
.macports
.mcabber
.mix
.mutt
.muttrc
.mysql_history
.netrc
.node-gyp
.npm
.pgadmin_histoqueries
.pgpass
.pinerc
.plugman
.pow
.pry_history
.psql_history
.rbx
.rdebug_hist
.rdebugrc
.recentf
.rnd
.rubies
.ruby-version
.rvm
.saves
.sbt
.sbtconfig
.scala_history
.screenrc
.sqldeveloper
.sqlite_history
.ssh
.subversion
.swt
.temptress
.timetrap
.timetrap.db
.timetrap.yml
.tmuxinator
.vagrant.d
.vim
.vimgolf
.viminfo
.viminfo.tmp
.vimperator
.vnc
.wrk
.zprofile
.zshenv
2013-08-09-curvitabackup.sql
405-angularjs.mp4
Applications
Banished
Desktop
Documents
Downloads
Dropbox
Library
Mono.framework
Movies
Music
Pictures
PlayOnMac's*
Public
Sites
TODO.txt
Users
VirtualBox*
YOUR_HEAD_A_SPLODE.png
admintoollogs
all_servers
apachelogs
apachelogsunziped
athenix_production_20091021.sql
avatars
css
curvita-06-06-2013.sql
curvita.out
dead.letter
dotfiles
duke_production_2013-08-12.sql
images
imports
index.html
instantclient
js
jstesting
logs
lolcat-ad.jpg
mail
manamana.jpg
midas.20130610.sql
midas.20130610.sql.backup
mustache.xml
names.yml
ncbi-blast-2.2.28+
npm-debug.log
oradiag_joe
pairkey.pem
pgadmin.log
plant_status_in_gh.bas
project_taks.json
projects
report.docx
sent-mail
sent-mail-may-2013
servers
shiboleth
sphinx-2.0.6-release
split
src
system_vision
task_list
test.text
test_strain.txt
testpipe
thing.html
tmp
tmux-client-91656.log
tmux-server-91659.log
unpushed_commits
unpushed_engine_commits
uploads
upwrap_blocks.docx
xaa
